body {
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', serif;
}

header {
    text-align: center;
}

.nav h1 {
    margin-top: 550px;
    font-size: 100px;
}

.nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button, .link, .back-button {
    padding: 10px 30px;
    font-size: 23px;
    border-radius: 8px;
    border: 1px solid aliceblue;
    background: none;
    cursor: pointer;
    color: aliceblue;
    font-family: 'Bree Serif', serif;
    transition: .6s;
    text-decoration: none;
}

button:hover, .link:hover, .back-button:hover {
    background-color: aliceblue;
    color: black;
    transition: .6s;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    max-width: 300px;
    margin-top: 600px;
    padding: 50px 100px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px;
}

.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
}

.back-button {
    margin-top: 20px;
}